@model fırst_WebProject.Models.IndexViewModel
@{
    ViewBag.Title = "Password";
}

<h2 style="padding: 10px 30px 10px 50px">@ViewBag.Title.</h2>

<p class="text-success" style="padding-left:50px">@ViewBag.StatusMessage</p>
<div  style="padding-left:50px">
    <h2>Set a new passwords</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>Pressure at the bottom:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        
        </dd>
    </dl>
</div>
