<div class="row">
    <div class="col-lg-8 mx-auto" style="padding: 60px;
        background-image: url(https://afaqedu.com/wp-content/uploads/2020/03/%D8%AC%D8%A7%D9%85%D8%B9%D8%A9-%D9%83%D8%A7%D8%B1%D8%A7%D8%A8%D9%88%D9%83-Karab%C3%BCk-University-420x280.jpg);
        background-repeat: no-repeat;background-position:right;" >
        Telephone number : 05331212333
        <br><br>
        Facebook : Karabük Üniversitesi
        <br><br>
        Twitter : Karabük Üniversitesi
        <br><br>
        gamıl : karabuk@gmail.com
        <br><br>
        LOCATION : Turkey
        <br>
    </div>
</div>